// Config file for functions, variables, mixins, etc
// Text colors
$primary-text: #35495e;
$secondary-text: #526488;

// Background colors
$black: #222;
$white: #f4f4f4;


// Other
.test {
    display:flex;
    flex-direction: row;
}

